<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
		<meta charset="UTF-8">
		<title></title>
	</head>
	
	<!-- lib : jquery -->
	<script src="libs/jQuery/jquery.min.js"></script>
	<!-- lib : react -->
	<script src="libs/react/babel.min.js"></script>
    <script src="libs/react/react.min.js"></script>
    <script src="libs/react/react-dom.min.js"></script>
    
    <script type="text/babel" src="cityList/cityList.js"></script>
    <link rel="stylesheet" href="cityList/css/components_citylist_.css" />
	
	<body>
		<div id="citylist-container" >
		</div>
	</body>
</html>
